option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: www/var/alison-mungall.co.uk/static
  aws:elasticbeanstalk:container:python:
    WSGIPath: amblog.wsgi:application
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:eu-west-2:811356720099:certificate/d52ba0b1-04a5-4291-8e9f-43cae2f58e4c
