{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- App CSS -->
<link rel="stylesheet" href="{% static 'blog/css/master.css' %}">

<div class="px-lg-5 mx-lg-5">

  <form id="search-form" class="py-3 border-bottom" method="GET">
    {% csrf_token %}
    <div class="form-row">
      <div class="input-group col-12 mb-1">
        {{ search_form.post_input }}
        <div class="input-group-append">
          <input class="btn btn-outline-dark rounded-0 py-0" type="submit"
            value="Search">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="input-group col-6">
        <div class="input-group-prepend">
          <span
            class="input-group-text rounded-0">{{ search_form.tag_input.label }}</span>
        </div>
        {{ search_form.tag_input }}
      </div>
      <div class="input-group col-6">
        <div class="input-group-prepend">
          <span
            class="input-group-text rounded-0">{{ search_form.order_input.label }}</span>
        </div>
        {{ search_form.order_input }}
      </div>
    </div>
  </form>

  <div id="list" class="row mx-n2 py-3">
    {% for post in posts %}
    {% include "blog/_post_reduced.html" %}
    {% endfor %}
  </div>

  {% include "blog/_pagination.html" %}

</div>

{% endblock %}