{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="pt-3 pb-1 px-lg-5 mx-lg-5" id="about">

  <h1>About me</h1>

  <div class="float-right pl-md-2 pb-2 pb-md-0"><img id="about-main"
      src="{% static 'website_pictures/MB2_MU_07_square.jpg' %}" alt=""></div>

  <p>Hello! Thank you for visiting my website. Its aim is to provide some
    interesting and thought provoking insights on the latest developments in
    climate change policies.</p>

  <p>We are in a pivotal time for climate change. The science underpinning the
    need for urgent action is now generally accepted, although with some notable
    exceptions. In the words of Mark Carney, the UN envoy for climate change and
    former governor of the Bank of England:</p>

  <div class="bg-grey px-3">

    <p><em>“There is a growing international consensus that climate change is
        unequivocal. Many of the changes in our world since the 1950s are
        without precedent: not merely over decades but over millennia. Research
        tells us with a high degree of confidence that:</em></p>

    <ul><em>

        <li>In the Northern Hemisphere the last 30 years have been the warmest
          since Anglo-Saxon times; indeed, eight of the ten warmest years on
          record in the UK have occurred since 2002;</li>

        <li>Atmospheric concentrations of greenhouse gases are at levels not
          seen in 800,000 years; and</li>

        <li>The rate of sea level rise is quicker now than at any time over the
          last 2 millennia.</li>

    </ul></em>

    <p class="mb-0"><em>Evidence is mounting of man’s role in climate change.
        Human drivers are judged extremely likely to have been the dominant
        cause of global warming since the mid-20th century. While natural
        fluctuations may mask it temporarily, the underlying human-induced
        warming trend of two-tenths of a degree per decade has continued
        unabated since the 1970s.”</em></p>

  </div>

  <p><small>(Quote from speech given by Mark Carney to Lloyd’s of London 29
      September 2015)</small></p>

  <p>Although changes in the behaviour of individuals are important, this is
    dependent on many factors, some of which cannot be predicted (for example,
    the reduction in flights due to Covid 19). Therefore, I believe that
    behaviour changes need to be driven by thoughtful government policies and
    well drafted laws. During my career, I’ve worked with policy makers and
    regulators and I was appointed as an expert reviewer of the UN’s
    Intergovernmental Panel on Climate Change’s Sixth Assessment Report,
    concentrating on the impact of the business sector on the fight against
    climate change.</p>

  <p>As with any scientific issue, there is disagreement and debate about
    climate change. But modelling and research point to the probability that the
    acceleration of climate warming since the 1970s is man-made. Doing nothing
    to slow down this acceleration will have catastrophic consequences for the
    planet and its human population. So even if you are not convinced by the
    science, doing nothing is not an option. If there is a small chance that the
    projections are correct, can we afford not to do something about it?</p>

  <h2>Connect with me <a
      href="https://www.linkedin.com/in/alison-mungall-13617b28/"><i
        class="fab fa-linkedin"></i></a></h2>

</div>

{% endblock %}