{% extends "base.html" %}
{% block content %}

<div class="pt-3 pb-1 px-lg-5 mx-lg-5" id="info-pages">

  <h1>Alison Mungall’s blog Cookie Policy</h1>
  <p>This is the Cookie Policy for Alison Mungall's blog, accessible from <a href="https://www.alison-mungall.co.uk">www.alison-mungall.co.uk</a>. This Cookie Policy is effective from 2nd November 2020.</p>
  <p>This website is the personal blog of me, Alison Mungall. It does not generate any form of revenue and is a purely personal activity. The data controller is also me. We only collect essential personal information and strictly necessary cookies
    required to allow the website to function. This data would not be passed on to a third party without first seeking written permission from the data owner.</p>

  <h2>What Are Cookies</h2>
  <p>As is common practice with almost all websites, this site uses cookies. These are small pieces of information, normally consisting of just letters and numbers, which online services provide when users visit them. Software on the user's device
    (for example a web browser) can store cookies and send them back to the website next time they visit.</p>
  <p>There are two types of cookies, session and persistent. Cookies that expire at the end of a browser session (normally when a user exits their browser) are called session cookies. Cookies that can be stored for longer are called ‘persistent
    cookies’. We only use session cookies.</p>

  <h2>How We Use Cookies</h2>
  <p>We only use first-party, strictly necessary, session cookies for authentication and security.</p>

  <h2>Disabling Cookies</h2>
  <p>You can prevent the setting of cookies by changing the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the functionality of this website.</p>

  <h2>The Cookies We Set</h2>
  <ul>
    <li><strong>Authentication related cookies.</strong> When you sign in to the website, we store a session ID cookie. This is used to identify that you’ve signed in so you can access restricted features and areas of the website. This is a
      first-party, strictly necessary, session cookie which will be deleted at the end of the session (normally when you exit your browser or sign out).</li>
    <li><strong>Security-related cookies.</strong>We use Cross-Site Request Forgery (CSRF) tokens (cookies) to protect users from CSRF attacks. CSRF is an attack that forces a user to perform unwanted actions on a website. This is a first-party,
      strictly necessary, session cookie which will be deleted at the end of the session (normally when you exit your browser).</li>
  </ul>

  <h2>More information</h2>
  <p>If you are still looking for more information on how we use cookies, than please email us at <a href="mailto:alisonmungallblog@gmail.com">alisonmungallblog@gmail.com</a>.</p>

</div>

{% endblock %}
