{% extends "base.html" %}
{% block content %}

<div class="pt-3 pb-1 px-lg-5 mx-lg-5" id="info-pages">

  <h1>Alison Mungall’s blog Privacy Policy</h1>
  <p>This is the Privacy Policy for Alison Mungall's blog, accessible from <a href="https://www.alison-mungall.co.uk">www.alison-mungall.co.uk</a>. This Privacy Policy is effective from 2nd November 2020.</p>
  <p>This website is the personal blog of me, Alison Mungall. It does not generate any form of revenue and is a purely personal activity. The data controller is also me. We only collect essential personal information and strictly necessary cookies
    required to allow the website to function. This data would not be passed on to a third party without first seeking written permission from the data owner.</p>
  <p>For any questions regarding this policy, please email <a href="mailto:alisonmungallblog@gmail.com">alisonmungallblog@gmail.com</a>.</p>

  <h2>The type of personal information we collect</h2>
  <p>We currently collect and process the following personal information:</p>
  <ul>
    <li>Your first name.</li>
    <li>Your last name.</li>
    <li>The IP address you used to access the website.</li>
    <li>Information about your visit such as the pages accessed.</li>
    <li>Information requested and the date and time of the request.</li>
    <li>The source of your access to the website (e.g. the website or URL (link) which referred you to the website).</li>
    <li>Browser version and operating system.</li>
    <li>Session ID cookies for authentication purposes. This is a first-party, strictly necessary, session cookie which will be deleted at the end of the session (normally when you exit your browser or sign out). See our <a
        href="{% url 'cookie-policy' %}">cookie policy</a> for more information.</li>
  </ul>

  <h2>How we get the personal information and why we have it</h2>
  <p>Most of the personal information processed by the website is provided directly by you when/if you sign in to the website using LinkedIn.</p>
  <p>Personal information is also indirectly received from the third party server provider, called Amazon Web Services, used to host the website. The privacy policy of Amazon Web Services is available here: <a
      href="https://aws.amazon.com/privacy/">https://aws.amazon.com/privacy/</a>.</p>
  <p>The information that you have given is used to:</p>
  <ul>
    <li>To register you as a user. The personal data you provide when you register is used when/if you comment on a post.</li>
    <li>To identify that you’ve signed in so you can access restricted features and areas of the website.</li>
    <li>To provide and maintain the website, including to monitor the usage of our site.</li>
  </ul>
  <p>We collect basic personal information for administrative purposes only. This information would not be passed on to a third party without first seeking written permission from the data owner. It would not be passed on to anyone else for the
    purposes of sales, advertising or marketing.</p>
  <p>Under the General Data Protection Regulation (GDPR), the lawful bases we rely on for processing this information is <strong>your consent</strong>. You can remove your consent at any time. You can do this by contacting <a
      href="mailto:alisonmungallblog@gmail.com">alisonmungallblog@gmail.com</a>.</p>

  <h2>How we store your personal information</h2>
  <p>Your information is securely stored by Amazon Web Services in London, UK.</p>
  <p>Your personal data will be kept only for as long as is necessary for the purposes set out in this Privacy Policy. We will then dispose of your information by deleting the data from the servers.</p>

  <h2>Your data protection rights</h2>
  <p>Under data protection law, you have rights including:</p>
  <p><strong>Your right of access</strong> - You have the right to ask us for copies of your personal information.</p>
  <p><strong>Your right to rectification</strong> - You have the right to ask us to rectify personal information you think is inaccurate. You also have the right to ask us to complete information you think is incomplete. </p>
  <p><strong>Your right to erasure</strong> - You have the right to ask us to erase your personal information in certain circumstances.</p>
  <p><strong>Your right to restriction of processing</strong> - You have the right to ask us to restrict the processing of your personal information in certain circumstances. </p>
  <p><strong>Your right to data portability</strong> - You have the right to ask that we transfer the personal information you gave us to another organisation, or to you, in certain circumstances.</p>
  <p>You are not required to pay any charge for exercising your rights. If you make a request, we have one month to respond to you.</p>
  <p>Please contact us at <a href="mailto:alisonmungallblog@gmail.com">alisonmungallblog@gmail.com</a> if you wish to make a request.</p>

  <h2>Children’s privacy</h2>
  <p>This Site is not for or directed towards children. We do not intend to and will not knowingly collect any personal information from children under the age of 13; children under the age of 13 are prohibited from using the Site without
    parent/guardian supervision. If we learn that we have collected information from a child under the age of 13, we will remove that information immediately and delete it from our servers (subject to applicable law and this Policy). If you believe
    User Content from a child under the age of 13 has been posted to the Site, please notify us by emailing <a href="mailto:alisonmungallblog@gmail.com">alisonmungallblog@gmail.com</a>.</p>

  <h2>How to complain</h2>
  <p>If you have any concerns about our use of your personal information, you can make a complaint to us at <a href="mailto:alisonmungallblog@gmail.com">alisonmungallblog@gmail.com</a>.</p>
  <p>You can also complain to the ICO if you are unhappy with how we have used your data.</p>
  <p>The ICO’s address:</p>
  <p>
    Information Commissioner’s Office<br>
    Wycliffe House<br>
    Water Lane<br>
    Wilmslow<br>
    Cheshire<br>
    SK9 5AF<br>
  </p>
  <p>Helpline number: 0303 123 1113</p>
  <p>ICO website: <a href="https://www.ico.org.uk">https://www.ico.org.uk</a></p>

</div>

{% endblock %}
